In [1]:
import pandas as pd

In [2]:
poverty_data = pd.read_csv('/media/sf_Dados/Projetos/python-dash/data/PovStatsData.csv')

In [3]:
poverty_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,1979,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 50
0,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PC40.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PT10.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PT60.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PCAP.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.POV.XPND.MD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
poverty_data['Country Name'].unique()

array(['East Asia & Pacific', 'Europe & Central Asia',
       'Fragile and conflict affected situations', 'High income',
       'IDA countries classified as fragile situations', 'IDA total',
       'Latin America & Caribbean', 'Low & middle income', 'Low income',
       'Lower middle income', 'Middle East & North Africa',
       'Middle income', 'South Asia', 'Sub-Saharan Africa',
       'Upper middle income', 'World', 'Afghanistan', 'Albania',
       'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bangladesh', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
       'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, Rep.', 'Kosovo', 'Kyrgyz Republic', 'Lao PDR', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'Nicaragua', 'Niger',
       'Nigeria', 'North Macedonia', 'Norway', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Romania', 'Russian Federation', 'Rwanda',
       'Samoa', 'Sao Tome and Principe', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'South Africa', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Lucia', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela, RB', 'Vietnam', 'West Bank and Gaza',
       'Yemen, Rep.', 'Zambia', 'Zimbabwe'], dtype=object)

In [6]:
poverty_data[poverty_data['Indicator Name']=='Population, total']

,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,1979,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 50
27,East Asia & Pacific,EAS,"Population, total",SP.POP.TOTL,1.416257e+09,1.443359e+09,1.467569e+09,1.490449e+09,1.513227e+09,1.536435e+09,...,2.221673e+09,2.236819e+09,2.252047e+09,2.267482e+09,2.282856e+09,2.298514e+09,2.314202e+09,2.328221e+09,NaN,NaN
91,Europe & Central Asia,ECS,"Population, total",SP.POP.TOTL,7.616618e+08,7.672650e+08,7.727752e+08,7.780735e+08,7.833105e+08,7.885729e+08,...,8.908629e+08,8.944868e+08,8.987661e+08,9.031300e+08,9.074982e+08,9.118124e+08,9.154202e+08,9.187936e+08,NaN,NaN
155,Fragile and conflict affected situations,FCS,"Population, total",SP.POP.TOTL,1.711439e+08,1.759138e+08,1.809735e+08,1.862822e+08,1.917327e+08,1.971765e+08,...,4.402187e+08,4.506268e+08,4.611928e+08,4.718353e+08,4.825307e+08,4.932910e+08,5.041192e+08,5.152159e+08,NaN,NaN
219,High income,HIC,"Population, total",SP.POP.TOTL,9.135110e+08,9.225734e+08,9.301713e+08,9.379903e+08,9.458800e+08,9.541429e+08,...,1.204631e+09,1.212058e+09,1.219557e+09,1.227212e+09,1.234714e+09,1.242138e+09,1.249066e+09,NaN,NaN,NaN
283,IDA countries classified as fragile situations,DFS,"Population, total",SP.POP.TOTL,1.547582e+08,1.590083e+08,1.635537e+08,1.683528e+08,1.732958e+08,1.782297e+08,...,3.941606e+08,4.029324e+08,4.117241e+08,4.206255e+08,4.297374e+08,4.391099e+08,4.487190e+08,4.586858e+08,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,Vietnam,VNM,"Population, total",SP.POP.TOTL,4.765756e+07,4.871819e+07,4.978528e+07,5.086116e+07,5.195902e+07,5.309541e+07,...,8.887156e+07,8.980249e+07,9.075347e+07,9.171460e+07,9.267708e+07,9.363872e+07,9.459664e+07,9.554040e+07,NaN,NaN
11611,West Bank and Gaza,PSE,"Population, total",SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,3.882986e+06,3.979998e+06,4.076708e+06,4.173398e+06,4.270092e+06,4.367088e+06,4.454805e+06,4.569087e+06,NaN,NaN
11675,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,6.629999e+06,6.784695e+06,6.967941e+06,7.178675e+06,7.414158e+06,7.669694e+06,...,2.380759e+07,2.447318e+07,2.514711e+07,2.582348e+07,2.649789e+07,2.716821e+07,2.783482e+07,2.849869e+07,NaN,NaN
11739,Zambia,ZMB,"Population, total",SP.POP.TOTL,4.778724e+06,4.943283e+06,5.112823e+06,5.287548e+06,5.468262e+06,5.656139e+06,...,1.402319e+07,1.446512e+07,1.492650e+07,1.539975e+07,1.587936e+07,1.636351e+07,1.685369e+07,1.735182e+07,NaN,NaN
11803,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,6.085074e+06,6.293875e+06,6.502569e+06,6.712827e+06,6.929664e+06,7.160023e+06,...,1.289432e+07,1.311513e+07,1.335036e+07,1.358668e+07,1.381463e+07,1.403039e+07,1.423674e+07,1.443902e+07,NaN,NaN

In [11]:
filtered_df = poverty_data[(poverty_data['Country Name'] == 'World') & (poverty_data['Indicator Name']=='Population, total')]

In [10]:
poverty_data[(poverty_data['Indicator Name']=='Population, total')]

,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,1979,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 50
27,East Asia & Pacific,EAS,"Population, total",SP.POP.TOTL,1.416257e+09,1.443359e+09,1.467569e+09,1.490449e+09,1.513227e+09,1.536435e+09,...,2.221673e+09,2.236819e+09,2.252047e+09,2.267482e+09,2.282856e+09,2.298514e+09,2.314202e+09,2.328221e+09,NaN,NaN
91,Europe & Central Asia,ECS,"Population, total",SP.POP.TOTL,7.616618e+08,7.672650e+08,7.727752e+08,7.780735e+08,7.833105e+08,7.885729e+08,...,8.908629e+08,8.944868e+08,8.987661e+08,9.031300e+08,9.074982e+08,9.118124e+08,9.154202e+08,9.187936e+08,NaN,NaN
155,Fragile and conflict affected situations,FCS,"Population, total",SP.POP.TOTL,1.711439e+08,1.759138e+08,1.809735e+08,1.862822e+08,1.917327e+08,1.971765e+08,...,4.402187e+08,4.506268e+08,4.611928e+08,4.718353e+08,4.825307e+08,4.932910e+08,5.041192e+08,5.152159e+08,NaN,NaN
219,High income,HIC,"Population, total",SP.POP.TOTL,9.135110e+08,9.225734e+08,9.301713e+08,9.379903e+08,9.458800e+08,9.541429e+08,...,1.204631e+09,1.212058e+09,1.219557e+09,1.227212e+09,1.234714e+09,1.242138e+09,1.249066e+09,NaN,NaN,NaN
283,IDA countries classified as fragile situations,DFS,"Population, total",SP.POP.TOTL,1.547582e+08,1.590083e+08,1.635537e+08,1.683528e+08,1.732958e+08,1.782297e+08,...,3.941606e+08,4.029324e+08,4.117241e+08,4.206255e+08,4.297374e+08,4.391099e+08,4.487190e+08,4.586858e+08,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,Vietnam,VNM,"Population, total",SP.POP.TOTL,4.765756e+07,4.871819e+07,4.978528e+07,5.086116e+07,5.195902e+07,5.309541e+07,...,8.887156e+07,8.980249e+07,9.075347e+07,9.171460e+07,9.267708e+07,9.363872e+07,9.459664e+07,9.554040e+07,NaN,NaN
11611,West Bank and Gaza,PSE,"Population, total",SP.POP.TOTL,NaN,NaN,NaN,NaN,NaN,NaN,...,3.882986e+06,3.979998e+06,4.076708e+06,4.173398e+06,4.270092e+06,4.367088e+06,4.454805e+06,4.569087e+06,NaN,NaN
11675,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,6.629999e+06,6.784695e+06,6.967941e+06,7.178675e+06,7.414158e+06,7.669694e+06,...,2.380759e+07,2.447318e+07,2.514711e+07,2.582348e+07,2.649789e+07,2.716821e+07,2.783482e+07,2.849869e+07,NaN,NaN
11739,Zambia,ZMB,"Population, total",SP.POP.TOTL,4.778724e+06,4.943283e+06,5.112823e+06,5.287548e+06,5.468262e+06,5.656139e+06,...,1.402319e+07,1.446512e+07,1.492650e+07,1.539975e+07,1.587936e+07,1.636351e+07,1.685369e+07,1.735182e+07,NaN,NaN
11803,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,6.085074e+06,6.293875e+06,6.502569e+06,6.712827e+06,6.929664e+06,7.160023e+06,...,1.289432e+07,1.311513e+07,1.335036e+07,1.358668e+07,1.381463e+07,1.403039e+07,1.423674e+07,1.443902e+07,NaN,NaN

In [12]:
poverty_data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', 'Unnamed: 50'],
      dtype='object')